.background {
    background-image: url('src/assets/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-sign-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

.pass-parent {
    position: relative;

}

.eye {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;

}