.open {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  
  .open.click {
    overflow: visible;
    max-height: 200px;
  }
  
  .blockCard,.card{
    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  
  
  
  .blue-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: oklch(0.424 0.199 265.638);
 /* Blue */
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    gap: 8px; /* Space between text and icon */
  }
  
  .blue-button:hover {
    background-color: oklch(0.424 0.199 265.638);
 /* Darker blue on hover */
    transform: scale(1.05);
  }
  
  .blue-button:active {
    transform: scale(0.98);
  }
    